<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" type="text/css" href="./style.css">
       <title>Probable Drug</title>
    </head>

    <body style="background-color: chocolate;">
        <div class="finalresult" style="background-color: chartreuse;">
        <h1>{{name}} treats:</h1>
        {%for item in list%}
        <h2> {{item["pcause"]}}</h2>
        {% endfor %}
    </div>


    </body>




</html>


